.wrapper{
    margin-top: 50px;
    width: 100%;
    height:600px;
    background:url("../../assets/images/banner8.jpg");
    background-size: cover;
    background-attachment: fixed;
    max-width: 2800px;

}
.left-section{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;

    
}
.right-section{
    width: 100%;
    height: 100%;
    float: right;

}
#connectdevelop{
    width: 500px;
    margin: auto;
    margin-top: 50px;
}
.section-text{
    margin: auto;
    margin-top: 170px;
    width: 700px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.section-text.fade-in{
    opacity: 1;
}
#learnBtn{
    margin-top: 25px;
}
.section-text h1{
    line-height: 70px;
}

#connectionsBg {
    background: linear-gradient(90deg, rgb(31, 101, 231) 18%, rgba(226,0,194,1) 100%);
}

.h1-bg {
    background: linear-gradient(90deg, rgb(31, 101, 231) 18%, rgba(226,0,194,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.fade-in-svg {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
.fade-in-svg.fade-in {
    opacity: 1;
}

@media only screen and (max-width: 1279px) {
    .wrapper{

        height:870px;
    
    }
    #connectdevelop{
        width: 400px;
        margin-top: 0px;
    }
    .section-text{
        margin-top: 100px;
        width: 700px;
    }
}

@media only screen and (max-width: 767px) {

    .section-text{
        margin-top: 70px;
        width: 90%;
    }
    

    .section-text h1{
        line-height: 60px;
    }

    .wrapper{

        height:800px;
        background-attachment: unset;
        background-size: cover;
    
    }
    #connectdevelop{
        width: 320px;
        margin: auto;
    }
    .section-text p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }
}

@media only screen and (max-width: 470px) {
    .wrapper{
        height:850px;
        background:url("../../assets/images/banner8-small.jpg");
        background-size: cover;
    }
    .section-text{
        margin-top: 45px;
    }

}
