form{
    width: 1020px;
    margin: auto;
    margin-top: -35px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media only screen and (max-width: 1050px) {
  form{
    width: 700px;
  }
  }

  @media only screen and (max-width: 750px) {
    form{
      width: 80%;
    }
    }
  