<app-navigation></app-navigation>
<app-banner></app-banner>
<div class="bg-cover bg-center" id="bannerImage">
  <div class="main-text">
    <h1 class="mb-4 text-6xl font-extrabold leading-none tracking-tight text-gray-100 sm:text-7xl md:text-7xl lg:text-7xl dark:text-white">Find your dream job and <span class="text-blue-600 dark:text-blue-500" id="mainSubText">apply now</span> with JobSearchNET</h1>
    <!-- <p class="text-lg font-normal text-neutral-300 lg:text-xl dark:text-gray-400">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p> -->
</div>
</div>
<app-main-cards></app-main-cards>

<h1 id ="categoriesHeader" class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl dark:text-white">Browse top <span class="text-blue-600 dark:text-blue-500" id="mainSubText">technologies.</span></h1>

<app-top-categories></app-top-categories>

<app-connect-section></app-connect-section>

<app-jobs-fields></app-jobs-fields>


<h1 id ="latestJobsHeader" class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl dark:text-white">Latest <span class="text-blue-600 dark:text-blue-500" id="mainSubText">jobs.</span></h1>

<app-latest-jobs></app-latest-jobs>

<app-footer></app-footer>
