#bannerImage{
    width: 100%;
    height: 65vh;
    min-height: 600px;
    max-height: 800px;
    background-image: url("../../assets/images/banner11-min.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-text{

    text-align: center;
    margin-top: 50px;
    width: 600px;
    
    
}
.main-text h1{
    text-align: center;
}
#categoriesHeader{
   text-align: center;
   margin-top: 85px;
}
#latestJobsHeader{
    text-align: center;
    margin-top: 35px;
 }
 .splitter{
    width: 100%;
    height: 10px;
    background: rgb(6,103,226);
    background: linear-gradient(90deg, rgba(6,103,226,1) 0%, rgba(196,23,187,1) 50%, rgba(254,2,2,1) 100%);
 }

 @media only screen and (max-width: 639px) {

    .main-text{
        width: 400px;
        
    }
    #bannerImage{

        background-attachment:unset;
    
    }
}

@media only screen and (max-width: 428px) {

    .main-text{
       width: 320px;
        
    }
    .main-text h1{
        font-size: 49px;
    }
    
    
}



