<div class="flex flex-wrap justify-center mt-10" id="cards-wrapper">
    <div class="p-10 max-w-sm rounded-lg border" id="card">
  
        <div class="flex items-center gap-x-4">
            <img class="aspect-[2/2] w-16 rounded-md" src="https://seeklogo.com/images/M/microsoft-logo-1C2E9FAF64-seeklogo.com.png" alt="microsoft" />
            <div>
                <h3 class="text-xl  font-bold text-gray-50">Microsoft</h3>
                <span class="text-xs text-gray-300">Information Technology</span>
            </div>
        </div>
        
        <div class="my-4">
          <h3 class="text-2xl font-medium text-gray-200">Software Developer</h3>
          <div class="text-sm font-medium">
            <span class="m-1 ml-0 inline-block text-blue-300">C#</span>
            <span class="m-1 ml-0 inline-block text-blue-300">.NET</span>
            <span class="m-1 ml-0 inline-block text-blue-300">SQL</span>
            <span class="m-1 ml-0 inline-block text-blue-300">Azure</span>
          </div>
          <div class="mt-2 text-sm text-gray-400">$4.5k - $5k per month</div>
        </div>
        <div class="flex items-center justify-between">
          <span class="text-sm font-medium text-gray-50">Senior</span>
          <a class="font-medium text-blue-300 transition-all duration-200 group-hover:text-blue-500/80">Apply Now</a>
        </div>
      </div>

      <div class="p-10 max-w-sm rounded-lg border" id="card" >
  
        <div class="flex items-center gap-x-4">
          <img class="aspect-[2/2] w-16 rounded-md" src="https://media.licdn.com/dms/image/D4D0BAQF7TJc97CGi-g/company-logo_200_200/0/1688569652191/vega_it_sourcing_logo?e=2147483647&v=beta&t=wXRMPb_Ak_MnaRl4iPF5eC0aVv3zmpnbfLLJrqIp7FQ" alt="vegait" />
          <div>
            <h3 class="text-xl font-bold text-gray-50">Vega IT</h3>
            <span class="text-xs text-gray-300">Information Technology</span>
          </div>
        </div>
        <div class="my-4">
          <h3 class="text-2xl font-medium text-gray-200">System Administrator</h3>
          <div class="text-sm font-medium">
            <span class="m-1 ml-0 inline-block text-blue-300">Windows</span>
            <span class="m-1 ml-0 inline-block text-blue-300">Linux</span>
            <span class="m-1 ml-0 inline-block text-blue-300">DNS</span>
            <span class="m-1 ml-0 inline-block text-blue-300">Networking</span>
           
          </div>
          <div class="mt-2 text-sm text-gray-400">$1k - $1.5k per month</div>
        </div>
        <div class="flex items-center justify-between">
          <span class="text-sm font-medium text-gray-50">Medior</span>
          <a class="font-medium text-blue-300 transition-all duration-200 group-hover:text-black-500/80">Apply Now</a>
        </div>
      </div>

        <div class="p-10 max-w-sm rounded-lg border" style="margin-bottom: 60px;" id="card">
  
        <div class="flex items-center gap-x-4">
          <img class="aspect-[2/2] w-16 rounded-md" src="https://www.mygwork.com/uploads/images/0e/ee/0eee2a9d96193a6338f3fb823a40ae019c7e4230.png" alt="synechron" />
          <div>
            <h3 class="text-xl font-bold text-gray-50">Synechron</h3>
            <span class="text-xs text-gray-300">Information Technology</span>
          </div>
        </div>
        <div class="my-4">
          <h3 class="text-2xl font-medium text-gray-200">UI/UX Designer</h3>
          <div class="text-sm font-medium">
            <span class="m-1 ml-0 inline-block text-blue-300">HTML</span>
            <span class="m-1 ml-0 inline-block text-blue-300">CSS</span>
            <span class="m-1 ml-0 inline-block text-blue-300">FIGMA</span>
            <span class="m-1 ml-0 inline-block text-blue-300">Ad. XD</span>
            <span class="m-1 ml-0 inline-block text-blue-300">Illustrator</span>
          </div>
          <div class="mt-2 text-sm text-gray-400">$850 - $1.2k per month</div>
        </div>
        <div class="flex items-center justify-between">
          <span class="text-sm font-medium text-gray-50">Junior</span>
          <a class="font-medium text-blue-300 transition-all duration-200 group-hover:text-blue-500/80">Apply Now</a>
        </div>
      </div>
      
</div>