#card{
    width: 40%;
    margin: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgb(43, 43, 43);
    border: none;
}
#cards-wrapper{
  background: url("../../assets/images/banner5.png");
  background-attachment: fixed;
  background-size: cover;

}

a:hover{
    cursor: pointer;
    color: rgb(75, 102, 221);
}

@media only screen and (max-width: 640px) {

    #card{
        width: auto;
        margin-bottom: 0;
        max-width: 300px;
    }

    #cards-wrapper{
        background-attachment: unset;
    }

  
}